@model OnlineShop.Context.Product
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="container">
        <h4>Thêm sản phẩm</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.avartar, new { @class = "form-label" })
            <div class="input-group mb-3">
                <input type="file" class="form-control" id="inputGroupFile02" name="ImageUpload">
                <label class="input-group-text" for="inputGroupFile02">Upload</label>
            </div>
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.categoryID, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.categoryID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.categoryID, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.shortDes, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.shortDes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.shortDes, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.fullDescription, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.fullDescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.fullDescription, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            @Html.LabelFor(model => model.price, htmlAttributes: new { @class = "form-label" })
            @Html.EditorFor(model => model.price, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.price, "", new { @class = "text-danger" })
        </div>
        <div class="mb-3">
            <input type="submit" value="Create" class="btn btn-primary"/>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to list", "Index")
</div>
